.main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(242, 239, 232);
}
.container {
    display: grid;
    grid-template-rows: 2fr 5fr 2fr;
    height: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_name {
    margin-bottom: 2vh;
    text-transform: uppercase;
    text-align: center;
}
.heading {
    font-size: 0.8rem;
    line-height: 1.5;
    opacity: 0.5;
    text-transform: uppercase;
    text-align: center;
}
@keyframes aa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & a {
        animation-name: aa;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        text-transform: uppercase;
        font-weight: 800;
        color: rgb(44, 42, 42);
        font-size: 16vw;
        letter-spacing: -1px;
        transition: transform 0.5s ease-in-out;
        &:hover {
            transform: scaleX(0.9);
        }
        &:nth-of-type(1)::after {
            content: "01";
            display: inline-block;
            font-size: 0.8rem;
            font-weight: normal;
            position: absolute;

        }
        &:nth-of-type(2)::after {
            content: "02";
            display: inline-block;
            font-size: 0.8rem;
            font-weight: normal;
            position: absolute;

        }
        &:nth-of-type(3)::after {
            content: "03";
            display: inline-block;
            font-size: 0.8rem;
            font-weight: normal;
            position: absolute;

        }
    }
}
.nav_seperator {
    height: 1px;
    width: 70%;
    background-color: rgb(44, 42, 42);;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10vw;
}

a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
}

h4 {
    font-size: 1.1rem;
}
@media screen and ( min-width: 500px ) {
    .nav {
        flex-direction: row;
    }
}